
html, body {
    background:url(https://wallpaperbro.com/img/263378.jpg);

}
.jumbotron {
    font-family: 'Modak', cursive;
    background-color: white;
    padding: 5px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Modak', cursive;
    text-align: center;
}

p {
    font-family: 'Rancho', cursive;
    font-size: 24px;
}

.crystal-image {
    width: 100px;
    height: 100px;
}

.card-body {
    padding: 5px;
    margin: 5px;
}
